<!--navstart-->
    <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-lg">
      <a class="navbar-brand" href="#"><h1 style="font-family: cursive; color:salmon;">ReadersGround</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarId" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><h5 style="font-family: cursive; color:green;">Write Your Bookish Thoughts Here</h5></a>
        <div class="collapse navbar-collapse" id="navbarId">
          

                    <!--
                    <div class="d-none d-lg-block">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </div>
                -->
                <!--
            <a href="Order.html" class="navbar-brand">
              <img src="image/cart1.jpg" alt="logo" loading="lazy" width="50" height="50" class="m-10">
            </a>
              -->
              <div style="width: 300px"> </div>
          
                <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'homeview' %}">Home</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
            </li>

          </ul>
                
                


          </div>

        </nav>
</div>

      <!--navEnd-->