<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Update</title>
  </head>
  <body>
    <div style="height: 100px"></div>
    
{% include 'nav.html'%}

  {% if success is True %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
         Updated successfully !!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
              <div style="padding-left: 500px">
       <a href="{% url 'homeview' %}" class="btn btn-outline-info m-5" >Go to Homepage </a></div>
    {% elif success is False %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        A problem occured during update !!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {{ f.errors }}
<div class="row m-0">
  <div class="col xl 6 ">
      <h4 ><b> Update your Review</b></h4>
      <br>
          <form >
            {% csrf_token %}
              
          <div class="shadow">
              
      <div class="form-group   col-6">
            <label for="name">Book Name:</label>
            <input type="text" class="form-control" id="nameu" name="name" value="{{ f.name.value }}">
        </div>
        <div class="form-group col-6">
            <label for="writer">Author Name:</label>
            <input type="text" class="form-control" id="writeru" name="writer" value="{{ f.writer.value }}">
        </div>
        <div class="form-group form-group col-6">
        <label for="genre">Genre</label>
        <select class="form-control" id="genreu" name="genre" value="{{ f.genre.value }}" >
          <option >Action and Adventure</option>
          <option >Classic</option>
          <option >Comic Book or Graphic Novel</option>
          <option >Detective and Mystery</option>
          <option  >Fantasy</option>
          <option >Historical fiction</option>
        </select>
      </div>

    <div class="form-group form-group col-6">
    <label for="rate">Rate</label>
    <select class="form-control" id="rateu" name="rate" value="{{ f.rate.value }}">
     <option >Star :D</option>
      <option >Average :)</option>
      <option >Poor :(</option>
    </select>
  </div>

        <div class="form-group w-50 col-6  ">
            <label for="review">Review:</label>
            <textarea class="form-control " id="reviewu" name="review"  > {{ f.review.value }} </textarea>
         </div>
         
          
<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type="hidden" id="pid" name="pid" value="{{ f.pid.value }}">
             <input type="hidden" id="route"  name="route" value="{% url 'update' f.pid.value %}">
            <button type="button" id="updbtn" class="btn btn-success">Update</button>

      
</div>
      
    </form>
    </div>
    <div class="col xl 6">
                    <h4> Details </h4>
                    <br>
                    <p> <b>Book Name: </b></p>
                    <p id="bn">{{ f.name.value }}</p>
                    <p><b>Writer:</b></p>
                    <p id="wn"> {{ f.writer.value }}</p>
                    <p><b>Genre:</b> </p>
                    <p id="gn"> {{ f.genre.value }}</p> 
                    <p><b>Rating:</b></p>
                    <p id="rating"> {{ f.rate.value }}</p> 
                    <p><b>Review</b></p>
                     <div class="shadow " style="height:150px; overflow: auto" >
                      <p id="rc">{{ f.review.value }} </p>
                    </div><br>
                    <!--<img src='{{ item.getImgpath }}' style="width:300px;height:300px;">-->
                    
                   
      
    </div>
    </div>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- for receiving csrf cookies -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    {% load static %}
    <script src="{% static 'ajax.js' %}"></script>
    </body>
</html>
