<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Update</title>
  </head>
  <body>
    <div style="height: 100px"></div>
{% if success is True %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
         Updated successfully !!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <div style="padding-left: 500px">
       <a href="{% url 'home' %}" class="btn btn-outline-info m-5" >Go to Homepage </a></div>
    </div>
    {% elif success is False %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        A problem occured during updating !!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
{% include 'nav.html'%}
      <h4 style="padding-left: 500px"><b> Update your Review</b></h4>
          <form action="{% url 'update' f.pid.value %}" method="POST">
            {% csrf_token %}
      <div class="form-group container shadow m-5 p-3 col-6">
            <label for="name">Book Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ f.name.value }}">
        </div>
        <div class="form-group container shadow m-5 p-3 col-6">
            <label for="writer">Author Name:</label>
            <input type="text" class="form-control" id="writer" name="writer" value="{{ f.writer.value }}">
        </div>
        <div class="form-group form-group container shadow m-5 p-3 col-3">
        <label for="genre">Genre</label>
        <select class="form-control" id="genre" name="genre" value="{{ f.genre.value }}" >
          <option value="Action_and_Adventure">Action and Adventure</option>
          <option value="classic">Classic</option>
          <option value="Comic_Book_or_Graphic_Novel">Comic Book or Graphic Novel</option>
          <option value="Detective_and_Mystery">Detective and Mystery</option>
          <option  value="fantasy">Fantasy</option>
          <option value="Historical_fiction">Historical fiction</option>
        </select>
      </div>

    <div class="form-group form-group container shadow m-5 p-3 col-3">
    <label for="rate">Rate</label>
    <select class="form-control" id="rate" name="rate" value="{{ f.rate.value }}">
     <option value="star">Star :D</option>
      <option value="average">Average :)</option>
      <option value="poor">Poor :(</option>
    </select>
  </div>

        <div class="form-group-lg container h-80 w-20 shadow m-5 p-3 row="4" ">
            <label for="review">Review:</label>
            <textarea class="form-control" id="review" name="review"  > {{ f.review.value }}</textarea>
         </div>
          

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type="hidden" name="pid" value="{{ f.pid.value }}">
        <input type="submit" class="btn btn-success " value="Update">

      </form>

      
    
      
    

    </body>
</html>
